.header {
  display: flex;
  background-color: rgb(44, 56, 88);
  height: 75px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo_header {
  width: 36px;
  height: auto;
  margin-left: 150px;
  margin-top: 8px;
  background-image: linear-gradient(#ece8a9, #92d8ee);
  border-radius: 50%;
  box-shadow: 0px 0px 35px 30px rgba(96, 154, 230, 0.2);
}

.btn_group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 750px;
}

.icons {
  color: #ece8a9;
  position: relative;
  margin: 50px 100px 50px 0;
  width: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 23px;
  cursor: pointer;
}

.login_name {
  color: #f5efa0;
  position: absolute;
  right: 2.5%;
  cursor: default;
}

.header_link {
  text-decoration: none;
  color: inherit;
}

.basket_span {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.basket_span_icons {
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header {
    width: 870px;
    height: 75px;
    font-size: 1.3rem;
  }

  .logo_header {
    margin-left: 45px;
  }
}